@charset "utf-8";@import url("fontawesome-4.6.3.min.css");@import url("custom.flexslider.css");@import url("framework.css");.row0, .row0 a{}
.row2, .row2 a{}
.row3, .row3 a{}
.container{padding:0 0;}
.services{}
.services li:nth-child(-n+3){margin-bottom:30px;}
*, *::before, *::after{transition:all .3s ease-in-out;}
#backtotop{z-index:999;display:inline-block;position:fixed;visibility:hidden;bottom:20px;right:20px;width:36px;height:36px;line-height:36px;font-size:16px;text-align:center;opacity:.2;}
#backtotop i{display:block;width:100%;height:100%;line-height:inherit;}
#backtotop.visible{visibility:visible;opacity:.5;}
#backtotop:hover{opacity:1;}
table, th, td{border:1px solid;border-collapse:collapse;vertical-align:top;}
table, th{table-layout:auto;}
table{width:100%;margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}
body{color:#A6A6A6;background-color:#26272B;}
a{color:#00585a;}
a:active, a:focus{background:transparent;}
hr{border-color:#D7D7D7;}
input:focus, textarea:focus{border-color:#00585a;}
.overlay{color:#FFFFFF;background-color:inherit;}
.overlay::after{color:inherit;background-color:rgba(0,0,0,.55);}
.row2{font-family:'Quattrocento Sans', sans-serif;color:#A6A6A6;}
.row3{font-family:'Quattrocento Sans', sans-serif;color:#797979;background-color:#f2f2f2;}
#backtotop{color:#FFFFFF;background-color:#00585a;}
table, th, td{border-color:#D7D7D7;}
th{color:#FFFFFF;background-color:#373737;}
tr{color:inherit;background-color:#FBFBFB;}
@-ms-viewport{width:device-width;}
@media screen and (min-width:978px){.hoc{max-width:978px;}
}
@media screen and (max-width:900px){.hoc{max-width:90%;}
.container{}
}
@media screen and (max-width:750px){.one_half, .one_third{display:block;float:none;width:auto;margin:0 0 30px 0;padding:0;}
.column{display:block;float:none;width:auto;}
}
@media screen and (max-width:650px){}
.bottnav{overflow:hidden;list-style:none;position:relative;top:1vmax;margin:0;padding:0em;text-align:center;}
.bottnav li{display:inline;}
.bottnav a{display:inline-block;color:#f2f2f2;text-align:center;padding:.5em 6px;text-decoration:none;font-size:2vmax;}
.bottnav a:hover{-webkit-transform:scale(1.15);-webkit-transition:all .1s ease-in-out;}
li{list-style-type:none;}
ul:hover li{opacity:0.2;}
ul li:hover{color:#00585A;opacity:1;}
body{font-family:'Varela', sans-serif;}
.sectionTitle{position:relative;top:10vmax;text-align:center;font-size:5vmax;color:black;font-family:'Crimson Text', sans-serif;}
.sectionTitle2{position:relative;top:10vmax;text-align:center;font-size:5vmax;color:#00585a;font-family:'Crimson Text', sans-serif;}
.sectionTitle:hover{color:#00585a;-webkit-transform:scale(1.1);-webkit-transition:all .2s ease-in-out;}
.sectionContent{position:relative;padding:15vmax 8vmax 6vmax 8vmax;text-align:justify;font-size:2vmax;line-height:1.5em;color:black;font-family:'Quattrocento Sans', sans-serif;}
.sectionContent2{position:relative;padding:8vmax 8vmax 6vmax 8vmax;text-align:justify;font-size:2vmax;line-height:1.5em;color:black;font-family:'Quattrocento Sans', sans-serif;}
.imgFilterWrapper2{position:relative;text-align:center;color:white;}
.imgFilterWrapper2 img{display:block;opacity:1;filter:grayscale(0) brightness(.6);-webkit-filter:grayscale(0) brightness(.6);-webkit-transition:all .2s ease-in-out;}
.imgFilterWrapper2 .watermark{font-family:'Montserrat', sans-serif;line-height:2.5em;font-size:2.5vmax;opacity:.95;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.imgFilterWrapper2 .watermark .txt{line-height:1em;}
.imgFilterWrapper2 .reveal{opacity:0;position:absolute;width:auto;height:32px;bottom:0px;left:0px;right:0px;color:#ffffff;background:#000000;text-decoration:none;line-height:0;font-family:'Montserrat', sans-serif;font-size:larger;font-weight:bold;text-align:center;-webkit-transition:opacity 500ms;-moz-transition:opacity 500ms;-o-transition:opacity 500ms;transition:opacity 500ms;}
.imgFilterWrapper:hover iframe{opacity:1;-webkit-filter:grayscale(0);-webkit-transform:scale(1.04);}
.imgFilterWrapper2:hover img{opacity:1;-webkit-filter:grayscale(1);-webkit-transform:scale(1.04);}
.imgFilterWrapper2:hover .reveal{opacity:0.8;}
.imgFilterWrapper2:hover .watermark{opacity:0;}
.imgFilterWrapper{position:relative;text-align:center;color:white;}
.imgFilterWrapper img{display:block;opacity:1;filter:grayscale(1) brightness(.35);-webkit-filter:grayscale(1) brightness(.35);-webkit-transition:all .2s ease-in-out;}
.imgFilterWrapper iframe{display:block;opacity:1;filter:grayscale(1) brightness(.8);-webkit-filter:grayscale(1) brightness(.8);-webkit-transition:all .2s ease-in-out;}
.imgFilterWrapper .watermark{font-family:'Montserrat', sans-serif;line-height:2.5em;font-size:2.5vmax;opacity:.95;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.imgFilterWrapper .watermark .txt{line-height:1em;}
.imgFilterWrapper .reveal{opacity:0;position:absolute;width:auto;height:32px;bottom:0px;left:0px;right:0px;color:#ffffff;background:#000000;text-decoration:none;line-height:0;font-family:'Varela', sans-serif;font-size:larger;font-weight:bold;text-align:center;-webkit-transition:opacity 500ms;-moz-transition:opacity 500ms;-o-transition:opacity 500ms;transition:opacity 500ms;}
.imgFilterWrapper .reveal2{opacity:0;position:absolute;width:auto;height:32px;top:0px;left:0px;right:0px;color:#ffffff;background:#000000;text-decoration:none;line-height:0;font-family:'Varela', sans-serif;font-size:larger;font-weight:bold;text-align:center;-webkit-transition:opacity 500ms;-moz-transition:opacity 500ms;-o-transition:opacity 500ms;transition:opacity 500ms;}
.imgFilterWrapper:hover img{opacity:1;-webkit-filter:grayscale(0);-webkit-transform:scale(1.04);}
.imgFilterWrapper:hover .reveal{opacity:0.8;}
.imgFilterWrapper:hover .reveal2{opacity:0.8;}
.imgFilterWrapper:hover .watermark{opacity:0;}
.imgDescription{padding:2vmax 1vmax 1vmax 1vmax;line-height:1.5em;font-family:'Quattrocento Sans', sans-serif;font-size:larger;text-align:justify;color:#ffffff;}
.botto{font-family:'Montserrat', sans-serif;text-align:center;font-size:3vmax;color:white;}
body{font-family:Verdana, sans-serif;margin:0;}
*{box-sizing:border-box;}
.row > .column{padding:10px 5px 5px 5px;}
.row:after{content:"";display:table;clear:both;}
.column{float:left;flex:25%;width:25%;}
.modal{display:none;position:fixed;top:50%;left:50%;z-index:1;padding-top:10px;left:0;top:0;width:100%;height:100%;overflow:hidden;background-color:black;}
.modal-content{position:relative;background-color:black;margin:auto;padding:0;height:100%;max-width:1200px;}
.close{z-index:2;color:white;position:absolute;top:10px;right:25px;font-size:35px;font-weight:bold;}
.close:hover,
.close:focus{color:#999;text-decoration:none;cursor:pointer;}
.mySlides{display:none;}
.prev,
.next{cursor:pointer;position:absolute;top:50%;width:auto;padding:16px;margin-top:-50px;color:white;font-weight:bold;font-size:20px;transition:0.6s ease;border-radius:0 3px 3px 0;user-select:none;-webkit-user-select:none;}
.next{right:0;border-radius:3px 0 0 3px;}
.prev:hover,
.next:hover{background-color:rgba(0, 0, 0, 0.8);}
.numbertext{color:#f2f2f2;font-size:12px;padding:8px 12px;position:absolute;top:0;}
img{margin-bottom:-4px;}
.caption-container{text-align:center;background-color:black;padding:2px 16px;color:white;}
img.hover-shadow{transition:0.1s
opacity:1;-webkit-filter:grayscale(1);-webkit-transform:scale(1);}
.hover-shadow:hover{opacity:1;-webkit-filter:grayscale(0);-webkit-transform:scale(1.04);}
/**/div, img, footer, video{position:relative;-webkit-box-sizing:border-box;box-sizing:border-box;}
.distribution-map{position:relative;width:100%;padding:0px;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0 auto;}
.distribution-map > img{width:100%;position:relative;}
.distribution-map .map-point{cursor:pointer;outline:none;z-index:0;position:absolute;width:3vmax;height:3vmax;border-radius:1.5vmax;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);opacity:0.7;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);background:rgba(26, 26, 26, 0.85);border:3px solid #00585a;}
.distribution-map .map-point img{display:none;}
.distribution-map .map-point i{display:block;position:relative;right:1.5px;}
.distribution-map .map-point:hover img, .distribution-map .map-point:focus img{display:block;border-radius:1.5vmax;position:relative;top:-2px;}
.distribution-map .map-point:hover i, .distribution-map .map-point:focus i{display:none;}
.distribution-map .map-point:hover, .distribution-map .map-point:focus{margin:auto;padding:0;box-sizing:border-box;filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);opacity:1;width:250px;height:250px;top:50%;left:50%;color:#e5e5e5;z-index:1;-webkit-transition:opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out;transition:opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out;}
.distribution-map .map-pointV{cursor:pointer;outline:none;z-index:0;position:absolute;width:3vmax;height:3vmax;border-radius:1.5vmax;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);opacity:0.7;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);background:rgba(26, 26, 26, 0.85);border:3px solid #00585a;}
.distribution-map .map-pointV video{display:none;}
.distribution-map .map-pointV i{display:block;}
.distribution-map .map-pointV:hover video, .distribution-map .map-pointV:focus video{display:block;border-radius:1.5vmax;position:relative;top:-2px}
.distribution-map .map-pointV:hover i, .distribution-map .map-pointV:focus i{display:none;}
.distribution-map .map-pointV:hover, .distribution-map .map-pointV:focus{margin:auto;padding:0;box-sizing:border-box;filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);opacity:1;width:250px;height:250px;top:50%;left:50%;color:#e5e5e5;z-index:1;-webkit-transition:opacity 0s ease-in-out, width 0s ease-in-out, height 0s ease-in-out;transition:opacity 0s ease-in-out, width 0s ease-in-out, height 0s ease-in-out;}
.embed-container{position:relative;padding-bottom:56.25%;height:0;overflow:hidden;}
.embed-container iframe{position:absolute;top:0;left:0;width:100%;height:100%;}